body{
    font-family: 'Architects Daughter', cursive;
    font-size: 16px;
    background-color: #fafafa;
    background-image: http://cmster.com/media/CYNYmYG8cyBEepy1tQOXQpcdrynnDBbrUllaKxB8xwvGd17tFuvWsA3W6tqwub5a.jpg;
    
}
.wrapper{
    width: 960px;
    margin: 0 auto;
}

header{
    background-color: white;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;
}

.logo, nav, .nav li{
    display: inline-block;
}

.nav li a{
    display: block;
    line-height: 64px;
    padding: 0 18px;
}

nav{
    float: right;
}

.nav{
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    
}

.nav li ul{
    margin: 0;
    padding:0;
    display: none;
    background-color: white;
    border: 1px solid #ddd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav li ul li{
    display: block;
}

.nav li:hover ul{
    position: absolute;
    display: block;
}

.nav li ul li a{
    display: block;
    line-height: 48px;
    border-bottom: 1px solid #ddd;
}

.nav li ul li:last-child a{
    border-bottom: none;
    
}